*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.aplicativo/.idea/caches
/.aplicativo/.idea/libraries
/.aplicativo/.idea/modules.xml
/.aplicativo/.idea/workspace.xml
/.aplicativo/.idea/navEditor.xml
/.aplicativo/.idea/assetWizardSettings.xml
aplicativo/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
